In [1]:
import pandas as pd

data = {
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35],
    "City":["Newyork","Chicago","Paris"]
}
df = pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25  Newyork
1      Bob   30  Chicago
2  Charlie   35    Paris

In [6]:
data = [
    ["Alice",25,"Newyork"],
    ["Bob",30,"Chicago"],
    ["Charlie",35,"Paris"]
]
columns = ["Name","Age","City"]
df = pd.DataFrame(data, columns=columns)
print(df)

      Name  Age     City
0    Alice   25  Newyork
1      Bob   30  Chicago
2  Charlie   35    Paris

In [7]:
data = {
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35],
    "City":["Newyork","Chicago","Paris"]
}
df= pd.DataFrame(data,index=["a","b","c"])
print(df)

      Name  Age     City
a    Alice   25  Newyork
b      Bob   30  Chicago
c  Charlie   35    Paris

In [8]:
data =[
    (1,"Alice",85),
    (2,"Bob",90),
    (3,"Charlie",95)
]
df = pd.DataFrame(data, columns=['ID','Name','Score'])
print(df)

   ID     Name  Score
0   1    Alice     85
1   2      Bob     90
2   3  Charlie     95

In [9]:
# Series:one-dimensional array-like object that can hold any data type
# (integer,float,strings,objects).It is similar to a column in dataframe or
# dictionary where keys are labels.

import pandas as pd

data = [10,20,30,40]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [11]:
data = [20,30,40,50]
index = ['a','b','c','d']
s = pd.Series(data,index= index)
print(s)

a    20
b    30
c    40
d    50
dtype: int64

In [13]:
data = {'a':10,'b':20,'c':30,'d':40}
s = pd.Series(data)
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [15]:
s = pd.Series(5,index=['a','b','c','d'])
print(s)

a    5
b    5
c    5
d    5
dtype: int64

In [16]:
data = {"Name":["Alice","Bob","Charlie"],'score':[78,89,98]}
df = pd.DataFrame(data)

s = df['score']
print(s)

0    78
1    89
2    98
Name: score, dtype: int64

In [20]:
s = pd.Series([10,20,30,40],index =['a','b','c','d'])
print(s['b'])
print(s[3])

20
40

C:\Users\DELL\AppData\Local\Temp\ipykernel_25404\1867940410.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[3])

In [22]:
s = pd.Series([10,20,30,40])
print(s+5)
print(s*2)
print(s>20)

0    15
1    25
2    35
3    45
dtype: int64
0    20
1    40
2    60
3    80
dtype: int64
0    False
1    False
2     True
3     True
dtype: bool

In [23]:
data  =  [10,None,30,40]
s = pd.Series(data)
print(s.isnull())
print(s.fillna(0))

0    False
1     True
2    False
3    False
dtype: bool
0    10.0
1     0.0
2    30.0
3    40.0
dtype: float64

In [27]:
s1 = pd.Series([10,20,30,40],index =['a','b','c','d'])
s2 = pd.Series([40,80,70,90],index =['e','f','g','h'])

print(s1+s2)
combine = s1.add(s2,fill_value = 0)
print(combine)

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
dtype: float64
a    10.0
b    20.0
c    30.0
d    40.0
e    40.0
f    80.0
g    70.0
h    90.0
dtype: float64