In [1]:
import pandas as pd

data = {
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35],
    "City":["Newyork","Chicago","Paris"]
}
df = pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25  Newyork
1      Bob   30  Chicago
2  Charlie   35    Paris

In [6]:
data = [
    ["Alice",25,"Newyork"],
    ["Bob",30,"Chicago"],
    ["Charlie",35,"Paris"]
]
columns = ["Name","Age","City"]
df = pd.DataFrame(data, columns=columns)
print(df)

      Name  Age     City
0    Alice   25  Newyork
1      Bob   30  Chicago
2  Charlie   35    Paris

In [7]:
data = {
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35],
    "City":["Newyork","Chicago","Paris"]
}
df= pd.DataFrame(data,index=["a","b","c"])
print(df)

      Name  Age     City
a    Alice   25  Newyork
b      Bob   30  Chicago
c  Charlie   35    Paris

In [8]:
data =[
    (1,"Alice",85),
    (2,"Bob",90),
    (3,"Charlie",95)
]
df = pd.DataFrame(data, columns=['ID','Name','Score'])
print(df)

   ID     Name  Score
0   1    Alice     85
1   2      Bob     90
2   3  Charlie     95

In [ ]:
# Series:one-dimensional array-like object that can hold any data type
# (integer,float,strings,objects).It is similar to a column in dataframe or
# dictionary where keys are labels.

import pandas as pd

data = [10,20,30,40]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [11]:
data = [20,30,40,50]
index = ['a','b','c','d']
s = pd.Series(data,index= index)
print(s)

a    20
b    30
c    40
d    50
dtype: int64

In [13]:
data = {'a':10,'b':20,'c':30,'d':40}
s = pd.Series(data)
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [15]:
s = pd.Series(5,index=['a','b','c','d'])
print(s)

a    5
b    5
c    5
d    5
dtype: int64

In [16]:
data = {"Name":["Alice","Bob","Charlie"],'score':[78,89,98]}
df = pd.DataFrame(data)

s = df['score']
print(s)

0    78
1    89
2    98
Name: score, dtype: int64

In [20]:
s = pd.Series([10,20,30,40],index =['a','b','c','d'])
print(s['b'])
print(s[3])

20
40

C:\Users\DELL\AppData\Local\Temp\ipykernel_25404\1867940410.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[3])

In [22]:
s = pd.Series([10,20,30,40])
print(s+5)
print(s*2)
print(s>20)

0    15
1    25
2    35
3    45
dtype: int64
0    20
1    40
2    60
3    80
dtype: int64
0    False
1    False
2     True
3     True
dtype: bool

In [23]:
data  =  [10,None,30,40]
s = pd.Series(data)
print(s.isnull())
print(s.fillna(0))

0    False
1     True
2    False
3    False
dtype: bool
0    10.0
1     0.0
2    30.0
3    40.0
dtype: float64

In [27]:
s1 = pd.Series([10,20,30,40],index =['a','b','c','d'])
s2 = pd.Series([40,80,70,90],index =['e','f','g','h'])

print(s1+s2)
combine = s1.add(s2,fill_value = 0)
print(combine)

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
dtype: float64
a    10.0
b    20.0
c    30.0
d    40.0
e    40.0
f    80.0
g    70.0
h    90.0
dtype: float64

In [29]:
data = pd.read_csv('student_lifestyle_dataset.csv')
print(data)

      Student_ID  Study_Hours_Per_Day  Extracurricular_Hours_Per_Day  \
0              1                  6.9                            3.8
1              2                  5.3                            3.5
2              3                  5.1                            3.9
3              4                  6.5                            2.1
4              5                  8.1                            0.6
...          ...                  ...                            ...
1995        1996                  6.5                            0.2
1996        1997                  6.3                            2.8
1997        1998                  6.2                            0.0
1998        1999                  8.1                            0.7
1999        2000                  9.0                            1.7

      Sleep_Hours_Per_Day  Social_Hours_Per_Day  \
0                     8.7                   2.8
1                     8.0                   4.2
2                     9.2                   1.2
3                     7.2                   1.7
4                     6.5                   2.2
...                   ...                   ...
1995                  7.4                   2.1
1996                  8.8                   1.5
1997                  6.2                   0.8
1998                  7.6                   3.5
1999                  7.3                   3.1

      Physical_Activity_Hours_Per_Day   GPA Stress_Level
0                                 1.8  2.99     Moderate
1                                 3.0  2.75          Low
2                                 4.6  2.67          Low
3                                 6.5  2.88     Moderate
4                                 6.6  3.51         High
...                               ...   ...          ...
1995                              7.8  3.32     Moderate
1996                              4.6  2.65     Moderate
1997                             10.8  3.14     Moderate
1998                              4.1  3.04         High
1999                              2.9  3.58         High

[2000 rows x 8 columns]

In [ ]:
#summary of the dataframe
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Student_ID                       2000 non-null   int64
 1   Study_Hours_Per_Day              2000 non-null   float64
 2   Extracurricular_Hours_Per_Day    2000 non-null   float64
 3   Sleep_Hours_Per_Day              2000 non-null   float64
 4   Social_Hours_Per_Day             2000 non-null   float64
 5   Physical_Activity_Hours_Per_Day  2000 non-null   float64
 6   GPA                              2000 non-null   float64
 7   Stress_Level                     2000 non-null   object
dtypes: float64(6), int64(1), object(1)
memory usage: 125.1+ KB
None

In [ ]:
#summary of numerical columns
print(data.describe())

        Student_ID  Study_Hours_Per_Day  Extracurricular_Hours_Per_Day  \
count  2000.000000          2000.000000                    2000.000000
mean   1000.500000             7.475800                       1.990100
std     577.494589             1.423888                       1.155855
min       1.000000             5.000000                       0.000000
25%     500.750000             6.300000                       1.000000
50%    1000.500000             7.400000                       2.000000
75%    1500.250000             8.700000                       3.000000
max    2000.000000            10.000000                       4.000000

       Sleep_Hours_Per_Day  Social_Hours_Per_Day  \
count          2000.000000           2000.000000
mean              7.501250              2.704550
std               1.460949              1.688514
min               5.000000              0.000000
25%               6.200000              1.200000
50%               7.500000              2.600000
75%               8.800000              4.100000
max              10.000000              6.000000

       Physical_Activity_Hours_Per_Day          GPA
count                       2000.00000  2000.000000
mean                           4.32830     3.115960
std                            2.51411     0.298674
min                            0.00000     2.240000
25%                            2.40000     2.900000
50%                            4.10000     3.110000
75%                            6.10000     3.330000
max                           13.00000     4.000000

In [ ]:
# all null values
print(data.isnull().sum())

Student_ID                         0
Study_Hours_Per_Day                0
Extracurricular_Hours_Per_Day      0
Sleep_Hours_Per_Day                0
Social_Hours_Per_Day               0
Physical_Activity_Hours_Per_Day    0
GPA                                0
Stress_Level                       0
dtype: int64

In [ ]:
#view first
# 5 rows
print(df.head())

   Student_ID  Study_Hours_Per_Day  Extracurricular_Hours_Per_Day  \
0           1                  6.9                            3.8
1           2                  5.3                            3.5
2           3                  5.1                            3.9
3           4                  6.5                            2.1
4           5                  8.1                            0.6

   Sleep_Hours_Per_Day  Social_Hours_Per_Day  Physical_Activity_Hours_Per_Day  \
0                  8.7                   2.8                              1.8
1                  8.0                   4.2                              3.0
2                  9.2                   1.2                              4.6
3                  7.2                   1.7                              6.5
4                  6.5                   2.2                              6.6

    GPA Stress_Level
0  2.99     Moderate
1  2.75          Low
2  2.67          Low
3  2.88     Moderate
4  3.51         High

In [ ]:
#view last 5 rows
print(df.tail())

      Student_ID  Study_Hours_Per_Day  Extracurricular_Hours_Per_Day  \
1995        1996                  6.5                            0.2
1996        1997                  6.3                            2.8
1997        1998                  6.2                            0.0
1998        1999                  8.1                            0.7
1999        2000                  9.0                            1.7

      Sleep_Hours_Per_Day  Social_Hours_Per_Day  \
1995                  7.4                   2.1
1996                  8.8                   1.5
1997                  6.2                   0.8
1998                  7.6                   3.5
1999                  7.3                   3.1

      Physical_Activity_Hours_Per_Day   GPA Stress_Level
1995                              7.8  3.32     Moderate
1996                              4.6  2.65     Moderate
1997                             10.8  3.14     Moderate
1998                              4.1  3.04         High
1999                              2.9  3.58         High

In [ ]:
#All columns names
print(df.columns)

Index(['Student_ID', 'Study_Hours_Per_Day', 'Extracurricular_Hours_Per_Day',
       'Sleep_Hours_Per_Day', 'Social_Hours_Per_Day',
       'Physical_Activity_Hours_Per_Day', 'GPA', 'Stress_Level'],
      dtype='object')

In [ ]:
#Rows and columns count
print(df.shape)

(2000, 8)

In [38]:
#data types of each column
print(df.dtypes)

Student_ID                           int64
Study_Hours_Per_Day                float64
Extracurricular_Hours_Per_Day      float64
Sleep_Hours_Per_Day                float64
Social_Hours_Per_Day               float64
Physical_Activity_Hours_Per_Day    float64
GPA                                float64
Stress_Level                        object
dtype: object

In [46]:
print(df['Student_ID'])

0          1
1          2
2          3
3          4
4          5
        ...
1995    1996
1996    1997
1997    1998
1998    1999
1999    2000
Name: Student_ID, Length: 2000, dtype: int64

In [ ]:
#specify column access
print(df['Study_Hours_Per_Day'])

0       6.9
1       5.3
2       5.1
3       6.5
4       8.1
       ...
1995    6.5
1996    6.3
1997    6.2
1998    8.1
1999    9.0
Name: Study_Hours_Per_Day, Length: 2000, dtype: float64

In [47]:
print(df.iloc[0])

Student_ID                                1
Study_Hours_Per_Day                     6.9
Extracurricular_Hours_Per_Day           3.8
Sleep_Hours_Per_Day                     8.7
Social_Hours_Per_Day                    2.8
Physical_Activity_Hours_Per_Day         1.8
GPA                                    2.99
Stress_Level                       Moderate
Name: 0, dtype: object

In [48]:
print(df.loc[0,"GPA"])

2.99

In [50]:
df_filter = df[df['GPA']>1000]
print(df_filter)

Empty DataFrame
Columns: [Student_ID, Study_Hours_Per_Day, Extracurricular_Hours_Per_Day, Sleep_Hours_Per_Day, Social_Hours_Per_Day, Physical_Activity_Hours_Per_Day, GPA, Stress_Level]
Index: []

In [52]:
df['Student_info'] = df['GPA']*2
print(df['Student_info'])

0       5.98
1       5.50
2       5.34
3       5.76
4       7.02
        ...
1995    6.64
1996    5.30
1997    6.28
1998    6.08
1999    7.16
Name: Student_info, Length: 2000, dtype: float64

In [54]:
df.drop('Student_ID',axis=1,inplace= True)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Study_Hours_Per_Day              2000 non-null   float64
 1   Extracurricular_Hours_Per_Day    2000 non-null   float64
 2   Sleep_Hours_Per_Day              2000 non-null   float64
 3   Social_Hours_Per_Day             2000 non-null   float64
 4   Physical_Activity_Hours_Per_Day  2000 non-null   float64
 5   GPA                              2000 non-null   float64
 6   Stress_Level                     2000 non-null   object
 7   Student_info                     2000 non-null   float64
dtypes: float64(7), object(1)
memory usage: 125.1+ KB

In [59]:
df.drop(1995,axis =0, inplace = True)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1999 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Study_Hours_Per_Day              1999 non-null   float64
 1   Extracurricular_Hours_Per_Day    1999 non-null   float64
 2   Sleep_Hours_Per_Day              1999 non-null   float64
 3   Social_Hours_Per_Day             1999 non-null   float64
 4   Physical_Activity_Hours_Per_Day  1999 non-null   float64
 5   Stress_Level                     1999 non-null   object
 6   Student_info                     1999 non-null   float64
dtypes: float64(6), object(1)
memory usage: 124.9+ KB

In [61]:
df.tail()

,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day,Stress_Level,Student_info
1994,7.9,3.4,9.0,0.5,3.2,Moderate,6.16
1996,6.3,2.8,8.8,1.5,4.6,Moderate,5.30
1997,6.2,0.0,6.2,0.8,10.8,Moderate,6.28
1998,8.1,0.7,7.6,3.5,4.1,High,6.08
1999,9.0,1.7,7.3,3.1,2.9,High,7.16

In [63]:
df.drop(1996,axis =0, inplace = False)

,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day,Stress_Level,Student_info
0,6.9,3.8,8.7,2.8,1.8,Moderate,5.98
1,5.3,3.5,8.0,4.2,3.0,Low,5.50
2,5.1,3.9,9.2,1.2,4.6,Low,5.34
3,6.5,2.1,7.2,1.7,6.5,Moderate,5.76
4,8.1,0.6,6.5,2.2,6.6,High,7.02
...,...,...,...,...,...,...,...
1993,7.1,1.4,9.0,3.1,3.4,Moderate,5.70
1994,7.9,3.4,9.0,0.5,3.2,Moderate,6.16
1997,6.2,0.0,6.2,0.8,10.8,Moderate,6.28
1998,8.1,0.7,7.6,3.5,4.1,High,6.08
1999,9.0,1.7,7.3,3.1,2.9,High,7.16